@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0; padding: 0; box-sizing: border-box;
}

body{
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background: #000 url('/images/0.jpg') center center no-repeat;
  background-size: cover;
}

.bg-eyes{
  background: #000 url('/images/eyes.jpg') repeat-x;
  background-position: 0 0;
  background-size: auto 100%;

  animation: moveBackground 100s linear infinite;
}
.bg-eyes:hover{
  animation-play-state: paused;
}

@keyframes moveBackground {
  from {
    background-position: 1000vw 0;
  }
  to {
    background-position: -1000vw 0;
  }
}


.bg-v-eyes{
  color: maroon;
  background: #000 url('/images/eyes-v.jpg') repeat-y;
  background-position: 0 0;
  background-size: 100% auto;

  animation: moveBackgroundVertically 100s linear infinite;
}
.bg-v-eyes:hover{
  animation-play-state: paused;
}

@keyframes moveBackgroundVertically {
  from {
    background-position: 0 1000dvh;
  }
  to {
    background-position: 0 -1000dvh;
  }
}